SortBy.module.css

.sortByContainer {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding-right: 10px; 
    align-items: center;
    width: 95%;
  }
  
  .sortByLabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .sortBySelect {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    width: 250px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sortBySelect:focus {
    outline: none;
    border-color: rgb(82, 112, 232);
  }
  
  .sortBySelect option {
    padding: 10px;
  }
  

  /* CSS for rows that can be clicked */
.clickableRow {
    cursor: pointer;
}

/* CSS for rows that can't be clicked */
.nonClickableRow {
    cursor: not-allowed;
}

/* Search Input Styling */

@media (max-width: 768px) {
  .sortByContainer{
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .sortByLabel {
    margin-right: 0px;
    font-weight: bold;
    font-size: 16px;
    width:20%
  }
  .sortBySelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 80%;
    margin: 10px 0;
    box-sizing: border-box;
  }
}