/* General Table Styles */
table {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 12px;
  font-size: 0.9rem;
}

thead {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  color: #273251;
  background-color: #eaebef;
}

thead tr {
  padding: 12px;
}

/* Pagination Styles */
.pagination {
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  gap: 10px;
  align-items: center;
}

button {
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-family: Lexend Giga, sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid rgb(82, 112, 232);
  color: rgb(82, 112, 232);
  transition: all 0.3s ease;
}

button:disabled {
  background-color: #728ddf;
  color: #fff;
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: rgb(82, 112, 232);
  color: #fff;
}

/* Logo and Title Styles */
.logo {
  font-size: 2rem;
  padding: 20px 0 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.title {
  font-size: 1.5rem;
  margin: 20px;
  text-transform: capitalize;
}

tbody tr:hover {
  background-color: #f7f9fb; 
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  table {
    width: 100%; 
  }

  th, td {
    padding: 8px; 
    font-size: 0.8rem; 
  }

  .pagination {
    gap: 5px; 
  }

  button {
    padding: 6px 15px; 
    font-size: 0.8rem;
  }

  .logo {
    font-size: 1.5rem; 
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #000;
  }

  .title {
    font-size: 1.2rem;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  th, td {
    font-size: 0.7rem; 
    padding: 6px;
  }

  button {
    padding: 5px 12px;
    font-size: 0.7rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1rem;
  }
}


#search {
  padding: 8px;
  width: 250px;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search:focus {
  outline: none;
  border-color: #007bff;
}

/* Search Container Styling */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-container label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}


.search-sort-container {
  margin-right: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .search-sort-container {
    display: block;
    width: 80%;
    font-size: 14px;

  }
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
  }
  #search {
    width: 80%;
    padding: 6px;
    font-size: 12px;
  }
  .search-container label {
    margin-right: 0px;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
  }
}